@import '~office-ui-fabric-react/dist/sass/References.scss';

.countryWiseHolidays {

  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: #ffffff;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
 }

 .event-list {
  list-style: none;
  font-family: 'Lato', sans-serif;
  margin: 0px;
  padding: 0px;
}
.event-list > li {
  background-color: rgb(255, 255, 255);
  padding: 0px;
  margin: 0px 0px 20px;
}
.event-list > li > .time {
  display: inline-block;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(237, 28, 36);
  padding: 5px 0px;
  text-align: center;
  text-transform: uppercase;
}
.day {
  display: block;
  font-size: 30pt;
  font-weight: 100;
  line-height: 1;
  font-family: initial;
}
.month {
  display: block;
  font-size: 15pt;
  font-weight: 900;
  line-height: 1;
}
.event-list > li > .info {
  padding-top: 5px;
  text-align: center;
  background-color: rgb(245, 245, 245);
}
.event-list > li > .info > .title {
  font-size: 15pt;
  font-weight: 700;
  margin: 0px;
  color: #5d5d5d;
}
 @media (min-width: 554px) {
  .event-list > li {
      position: relative;
      display: block;
      width: 100%;
      height: 75px;
      padding: 0px;
  }
  .event-list > li > .time {
      display: inline-block;
  }
  .event-list > li > .time{
      width: 75px;
      float: left;
  }
  .event-list > li > .info {
      background-color: rgb(245, 245, 245);
      overflow: hidden;
  }
  .event-list > li > .time{
      width: 75px;
      height: 75px;
      padding: 0px;
      margin: 0px;
  }
  .event-list > li > .info {
      position: relative;
      height: 70px;
      text-align: left;
      padding-right: 40px;
  }	
  .event-list > li > .info > .title{
      padding: 0px 10px;
      margin: 20px 0px;
  }
  .event-list > li > .info > ul {
      position: absolute;
      left: 0px;
      bottom: 0px;
  }
}
}
